<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Angular Display Template - 2nd Template</h1>
    <div ng-repeat="item in firstItemSet">
        <h4>{{item.Title}}</h4>
        <div class="item-file-name">File Name: {{item.FileName}}</div>
        <div class="item-content-type">Content Type: {{item.ContentType}}</div>
        <div class="item-separator">* * * * * * * * * * * * * * * * * * </div>
    </div>
    <div ng-repeat="item in secondItemSet">
        <h4>{{item.Title}}</h4>
        <div class="item-file-name">File Name: {{item.FileName}}</div>
        <div class="item-modified-by">Modified By: {{item.LastModifiedBy}}</div>
        <div class="item-file-size">Size: {{item.FileSize}}</div>
        <div class="item-separator">* * * * * * * * * * * * * * * * * * </div>
    </div>
</body>
</html>